@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: hsv(180, 75%, 98%);
}

.container {
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#title {
  background-color: rgb(167, 244, 225);
  text-align: center;
  vertical-align: middle;
  width: 70%;
  height: 15%;
  box-shadow: 1px 2px 1px .5px rgb(77, 77, 77);
  margin: 30px 30px 30px 30px;
  min-width: 250px;
}

.item {
  background-color: rgb(167, 244, 225);
  text-align: center;
  margin: 30px 30px 30px 30px;
  min-width: 200px;
  box-shadow: 1px 2px 1px .5px rgb(77, 77, 77);
}

#articlePreview {
  background-color: rgba(230, 246, 242, 1);
  text-align: center;
  margin: 15px 30px 15px 30px;
  min-width: 100px;
  box-shadow: 1px 2px 1px .5px rgb(77, 77, 77);
  text-decoration: none;

}

#completed {
  background-color: rgb(167, 244, 225);
  text-align: center;
  text-decoration: line-through;
}

#input {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

#input:focus, #input.focus {
   box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

textarea {
  width: 20%;
  height: 20%;
}

/* input field (not submit) styling */
input[type = "text"] {
  width: 20%;
}
