<!-- HTML for all the individual pages -->
<div ng-show="nothingWrong">

  <div ng-hide="editorEnabled">
    <h2> {{post.title}} </h2>
    <h4> {{post.body}} </h4>
    <h6> Last edited by {{post.author}} at {{post.timestamp}} </h6>
    <a class="button" href="#/"> Return home </a>
    <button ng-click="editorEnabled=!editorEnabled; autofiller()"> Edit post </button>
  </div>

  <div ng-show="editorEnabled">
    <!-- Loads content into inputs -->
    <label>Title: </label> <input ng-model="editedPost.title", value="editedPost.title"> <br/>
    <label>Title: </label> <textarea cols="50" rows="10" ng-model="editedPost.body", value="editedPost.body"/> <br/>
    <label>Author: </label> <input ng-model="editedPost.author", value="editedPost.author"> <br/>
    <button ng-click="editorEnabled=!editorEnabled; edit()"> Save </button>
    <button ng-click="editorEnabled=!editorEnabled"> Cancel </button>
  </div>
</div>


<div ng-hide="nothingWrong">
  Something went wrong.
<br/>
<br/>
  <a class="button" href="#/"> Return home </a>
</div>
